-- Script Date: 12/9/2018 4:42 PM  - Generated by ExportSqlCe version 3.5.1.14
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: webroam.sdf
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 458752
-- Created: 10/22/2018 7:29 PM

-- User Table information:
-- Number of tables: 33
-- tblADNAScan: 0 row(s)
-- tblBSandbox: 0 row(s)
-- tblEmail: 0 row(s)
-- tblEmailProt: 0 row(s)
-- tblExclude: 0 row(s)
-- tblExcludeFF: 0 row(s)
-- tblExternalDevs: 1 row(s)
-- tblFilesF: 0 row(s)
-- tblFirewalProt: 0 row(s)
-- tblHijack: 0 row(s)
-- tblInternet: 0 row(s)
-- tblMalwareProt: 0 row(s)
-- tblOnOff: 0 row(s)
-- tblpAppCat: 0 row(s)
-- tblParental: 0 row(s)
-- tblpBlockList: 0 row(s)
-- tblpBlockSite: 0 row(s)
-- tblpScheduleIn: 0 row(s)
-- tblpSchedulePC: 0 row(s)
-- tblpWebCat: 0 row(s)
-- tblQuarantine: 0 row(s)
-- tblQuBack: 0 row(s)
-- tblReportFor: 0 row(s)
-- tblSafeBanking: 0 row(s)
-- tblScanExternal: 0 row(s)
-- tblScanSchedule: 0 row(s)
-- tblScanSettings: 0 row(s)
-- tblScreenLockProt: 0 row(s)
-- tblSettings: 0 row(s)
-- tblSpamProt: 0 row(s)
-- tblTheftProtection: 0 row(s)
-- tblTrusted: 0 row(s)
-- tblVirusProt: 0 row(s)

CREATE TABLE [tblADNAScan] (
  [ID] bigint NOT NULL
, [EnableDNA] bit NULL
, [EnableBhaviorDet] bigint NULL
, [SubmitFiles] bigint NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblBSandbox] (
  [ID] bigint NOT NULL
, [SLevel] bigint NULL
, [SLevelDef] bigint NULL
, [ShowBW] bit NULL
, [ShowBWDef] bit NULL
, [DOpen] bit NULL
, [DOpenDef] bit NULL
, [PreventConf] bit NULL
, [PreventConfDef] bit NULL
, [PreventConfID] bigint NULL
, [PreventConfPath] VARCHAR(1000) NULL
, [PreventConfSub] bit NULL
, [PreventProt] bit NULL
, [PreventProtDef] bit NULL
, [PreventProtID] bigint NULL
, [PreventProtPath] VARCHAR(1000) NULL
, [PreventProtSub] bit NULL
, [AllowD] bit NULL
, [AllowDDef] bit NULL
, [AllowDID] bigint NULL
, [AllowDPath] VARCHAR(1000) NULL
, [AllowDSub] bit NULL
);
GO
CREATE TABLE [tblEmail] (
  [ID] bigint NOT NULL
, [EmailBits] bigint NULL
);
GO
CREATE TABLE [tblEmailProt] (
  [ID] bigint NOT NULL
, [DisplayAM] bit NULL
, [Action] bigint NULL
, [Backup] bit NULL
, [BlkAttachment] bit NULL
, [BlkEmail] bit NULL
, [EnableAt] bit NULL
, [BlockEn] bigint NULL
, [IssDefault] bit NULL
, [AExtensionID] bigint NULL
, [AExtensionName] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblExclude] (
  [ID] bigint NOT NULL
, [Extension] VARCHAR(1000) NOT NULL
, [EnableDNA] bit NULL
, [EnableBhaviorDet] bigint NULL
, [SubmitFiles] bigint NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblExcludeFF] (
  [ID] bigint NOT NULL
, [Path] VARCHAR(1000) NULL
, [Subfolders] bit NULL
, [ExclusionFor] bigint NULL
);
GO
CREATE TABLE [tblExternalDevs] (
  [ID] bigint NOT NULL
, [AutProt] bit NULL
, [ScanExDr] bit NULL
, [DataThfProt] bit NULL
, [ScanWmob] bit NULL
, [ScanExDrChoice] bigint NULL
, [ScanExDrDef] bigint NULL
, [DataThfProtChoice] bigint NULL
, [DataThfProtDef] bigint NULL
);
GO
CREATE TABLE [tblFilesF] (
  [ID] bigint NOT NULL
, [FFBits] bigint NULL
, [QBNO] bigint NULL
);
GO
CREATE TABLE [tblFirewalProt] (
  [ID] bigint NOT NULL
, [Wifi] bit NULL
, [WifiDef] bit NULL
, [rAllowT] bit NULL
, [rFLevel] bigint NULL
, [rID] bigint NULL
, [rProgramP] VARCHAR(1000) NULL
, [rAccess] bit NULL
, [asDisplayAM] bit NULL
, [asCreateRep] bit NULL
, [asPath] VARCHAR(1000) NULL
, [asDisplayAMDef] bit NULL
, [asCreateRepDef] bit NULL
, [asPathDef] VARCHAR(1000) NULL
, [asIsDefault] bit NULL
, [asNNetID] VARCHAR(1000) NULL
, [asNNetProfile] bigint NULL
, [asNNetProfStID] bigint NULL
, [asNNetProfStStl] bit NULL
, [asNNetProfStSharing] bit NULL
, [asTrID] bigint NULL
, [asTrException] VARCHAR(1000) NULL
, [asTrProtocol] bigint NULL
, [asTrAction] bigint NULL
, [asTrProfile] VARCHAR(1000) NULL
, [asTrSelected] bit NULL
);
GO
CREATE TABLE [tblHijack] (
  [ID] bigint NOT NULL
, [Settings] VARCHAR(1000) NULL
, [CurSettings] VARCHAR(1000) NULL
, [PrevDfSettings] VARCHAR(1000) NULL
, [Status] bigint NULL
);
GO
CREATE TABLE [tblInternet] (
  [ID] bigint NOT NULL
, [InBits] bigint NULL
);
GO
CREATE TABLE [tblMalwareProt] (
  [ID] bigint NOT NULL
, [EnableAd] bit NULL
, [Action] bigint NULL
);
GO
CREATE TABLE [tblOnOff] (
  [ID] bigint NOT NULL
, [frmName] VARCHAR(1000) NOT NULL
, [fieldID] bigint NOT NULL
, [fieldOnOff] bit NOT NULL
);
GO
CREATE TABLE [tblpAppCat] (
  [ID] bigint NOT NULL
, [AppCatBits1] bigint NULL
, [ExcludePath] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblParental] (
  [ID] bigint NOT NULL
, [Alert] bit NULL
, [Settings] bigint NULL
, [AllUsersBits] bigint NULL
);
GO
CREATE TABLE [tblpBlockList] (
  [ID] bigint NOT NULL
, [Path] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblpBlockSite] (
  [ID] bigint NOT NULL
, [Website] VARCHAR(1000) NULL
, [SubDomain] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblpScheduleIn] (
  [ID] bigint NOT NULL
, [AlwaysLet] bit NULL
, [SundayBits] bigint NULL
, [MondayBits] bigint NULL
, [TuesdayBits] bigint NULL
, [WednesdayBits] bigint NULL
, [ThursdayBits] bigint NULL
, [FridayBits] bigint NULL
, [SaturdayBit] bigint NULL
);
GO
CREATE TABLE [tblpSchedulePC] (
  [ID] bigint NOT NULL
, [AlwaysLet] bit NULL
, [IsHourBits] bigint NULL
, [SundayHour] bigint NULL
, [MondayHour] bigint NULL
, [TuesdayHour] bigint NULL
, [WednesdayHour] bigint NULL
, [ThursdayHour] bigint NULL
, [FridayHour] bigint NULL
, [SaturdayHour] bigint NULL
, [SundayBits] bigint NULL
, [MondayBits] bigint NULL
, [TuesdayBits] bigint NULL
, [WednesdayBits] bigint NULL
, [ThursdayBits] bigint NULL
, [FridayBits] bigint NULL
, [SaturdayBit] bigint NULL
);
GO
CREATE TABLE [tblpWebCat] (
  [ID] bigint NOT NULL
, [WebCatBits1] bigint NULL
, [WebCatBits2] bigint NULL
);
GO
CREATE TABLE [tblQuarantine] (
  [ID] bigint NOT NULL
, [FileName] VARCHAR(1000) NULL
, [Location] VARCHAR(1000) NULL
, [QuarantinedOn] VARCHAR(1000) NULL
, [VirusName] VARCHAR(1000) NULL
, [SendStatus] bit NULL
, [Type] bigint NULL
);
GO
CREATE TABLE [tblQuBack] (
  [id] bigint NOT NULL
, [DeleteAfter] bigint NULL
, [FileID] bigint NULL
, [FileName] VARCHAR(1000) NULL
, [Location] VARCHAR(1000) NULL
, [QDate] VARCHAR(1000) NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblReportFor] (
  [ID] bigint NOT NULL
, [ReportFID] bigint NOT NULL
, [Date] bigint NOT NULL
, [Time] VARCHAR(1000) NULL
, [ReportFor] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblSafeBanking] (
  [ID] bigint NOT NULL
, [IP] VARCHAR(1000) NULL
, [FromDesktop] bit NULL
, [FromSafe] bit NULL
, [Contrls] bigint NULL
, [Letter] nchar(500) NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblScanExternal] (
  [ID] bigint NOT NULL
, [Choice] bigint NOT NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblScanSchedule] (
  [ID] bigint NOT NULL
, [ScheduleItem] VARCHAR(1000) NULL
, [Frequency] bigint NULL
, [FreqTime] VARCHAR(1000) NULL
, [FreqRepeat] bigint NULL
, [FreqPriority] bit NULL
, [FreqUserName] VARCHAR(1000) NULL
, [FreqPassword ] VARCHAR(1000) NULL
, [FreqRunIfmissed] bit NULL
, [ScanLocation] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblScanSettings] (
  [ID] bigint NOT NULL
, [ScanMode] bigint NULL
, [ScanAction] bigint NULL
, [Backup] bit NULL
, [IsDefault] bit NULL
, [cID] bigint NULL
, [cScanItem] bigint NULL
, [cScanArchive] bit NULL
, [cScanPacked] bit NULL
, [cScanMailB] bigint NULL
, [cIsDefault] bit NULL
, [ccID] bigint NULL
, [ccAction] bigint NULL
, [ccLevel] bigint NULL
, [ccArType] VARCHAR(1000) NULL
, [ccIsDefault] bit NULL
);
GO
CREATE TABLE [tblScreenLockProt] (
  [ID] bigint NOT NULL
, [ProtectSL] bit NULL
, [Key] nchar(500) NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblSettings] (
  [ID] bigint NOT NULL
, [AShow] bit NULL
, [AMode] bit NULL
, [APath] VARCHAR(1000) NULL
, [ACopyPath] VARCHAR(1000) NULL
, [ISEnableP] bit NULL
, [ISType] bigint NULL
, [ISServer] VARCHAR(1000) NULL
, [ISPort] bigint NULL
, [ISUser] VARCHAR(1000) NULL
, [ISPassword] VARCHAR(1000) NULL
, [RRRestore] bit NULL
, [RRRepaire] bit NULL
, [RSDelAfter] bigint NULL
, [SAU] bit NULL
, [SIS] bit NULL
, [SRR] bit NULL
, [SRS] bit NULL
);
GO
CREATE TABLE [tblSpamProt] (
  [ID] bigint NOT NULL
, [Tag] VARCHAR(1000) NULL
, [SpamLevel] bigint NULL
, [EnBlack] bit NULL
, [EnWhite] bit NULL
, [EnableAS] bit NULL
, [IsDefault] bit NULL
, [IDBlk] bigint NULL
, [NameBlk] VARCHAR(1000) NULL
, [IDWt] bigint NULL
, [NameWt] VARCHAR(1000) NULL
);
GO
CREATE TABLE [tblTheftProtection] (
  [ID] bigint NOT NULL
, [Choice] bigint NOT NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblTrusted] (
  [ID] bigint NOT NULL
, [FileName] VARCHAR(1000) NULL
, [IsDefault] bit NULL
);
GO
CREATE TABLE [tblVirusProt] (
  [ID] bigint NOT NULL
, [DisplayAl] bit NULL
, [Action] bigint NULL
, [Backup] bit NULL
, [Sound] bit NULL
, [IsDefault] bit NULL
);
GO
INSERT INTO [tblExternalDevs] ([ID],[AutProt],[ScanExDr],[DataThfProt],[ScanWmob],[ScanExDrChoice],[ScanExDrDef],[DataThfProtChoice],[DataThfProtDef]) VALUES (1,null,null,null,null,1,null,null,null);
GO
ALTER TABLE [tblADNAScan] ADD CONSTRAINT [PK__tblADNAScan__000000000000026E] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblBSandbox] ADD CONSTRAINT [PK__tblBSandbox__000000000000013E] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblEmail] ADD CONSTRAINT [PK__tblEmail__0000000000000160] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblEmailProt] ADD CONSTRAINT [PK__tblEmailProt__00000000000000F8] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblExclude] ADD CONSTRAINT [PK__tblExclude__0000000000000044] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblExcludeFF] ADD CONSTRAINT [PK__tblExcludeFF__0000000000000074] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblExternalDevs] ADD CONSTRAINT [PK__tblExternalDevs__00000000000001F8] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblFilesF] ADD CONSTRAINT [PK__tblFilesF__0000000000000156] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblFirewalProt] ADD CONSTRAINT [PK__tblFirewalProt__00000000000002A8] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblHijack] ADD CONSTRAINT [PK__tblHijack__0000000000000246] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblInternet] ADD CONSTRAINT [PK__tblInternet__000000000000016A] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblMalwareProt] ADD CONSTRAINT [PK__tblMalwareProt__000000000000014A] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblOnOff] ADD CONSTRAINT [PK__tblOnOff__000000000000000A] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpAppCat] ADD CONSTRAINT [PK__tblpAppCat__0000000000000180] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblParental] ADD CONSTRAINT [PK__tblParental__00000000000001E0] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpBlockList] ADD CONSTRAINT [PK__tblpBlockList__0000000000000174] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpBlockSite] ADD CONSTRAINT [PK__tblpBlockSite__00000000000001C6] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpScheduleIn] ADD CONSTRAINT [PK__tblpScheduleIn__000000000000025E] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpSchedulePC] ADD CONSTRAINT [PK__tblpSchedulePC__00000000000001A8] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblpWebCat] ADD CONSTRAINT [PK__tblpWebCat__00000000000001D2] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblQuarantine] ADD CONSTRAINT [PK__tblQuarantine__0000000000000236] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblQuBack] ADD CONSTRAINT [PK__tblQuBack__0000000000000066] PRIMARY KEY ([id]);
GO
ALTER TABLE [tblReportFor] ADD CONSTRAINT [PK__tblReportFor__000000000000001A] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblSafeBanking] ADD CONSTRAINT [PK__tblSafeBanking__000000000000010C] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblScanExternal] ADD CONSTRAINT [PK__tblScanExternal__0000000000000026] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblScanSchedule] ADD CONSTRAINT [PK__tblScanSchedule__000000000000008E] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblScanSettings] ADD CONSTRAINT [PK__tblScanSettings__00000000000000B4] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblScreenLockProt] ADD CONSTRAINT [PK__tblScreenLockProt__0000000000000052] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblSettings] ADD CONSTRAINT [PK__tblSettings__0000000000000222] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblSpamProt] ADD CONSTRAINT [PK__tblSpamProt__00000000000000D0] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblTheftProtection] ADD CONSTRAINT [PK__tblTheftProtection__0000000000000032] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblTrusted] ADD CONSTRAINT [PK__tblTrusted__00000000000000DC] PRIMARY KEY ([ID]);
GO
ALTER TABLE [tblVirusProt] ADD CONSTRAINT [PK__tblVirusProt__00000000000001BA] PRIMARY KEY ([ID]);
GO

